



#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}



P{
    text-aling: center;
    background:#000000;
}

em strong{
    color: #ff0000;
}
.benefícios{
    background: #ffffff;
    padding: 20px;
}

.itens{
    font-style: italic;
}

.imagembenefícios{
    width: 50%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.título-centralizado{
    text-aling:center;
}
#missao{
    font-size: 20px;
 }